<%= title "Reset Your Password", :h2 %>
<% form_for :user, :url => { :action => 'update_after_forgetting' } do |f| %>
  <%= f.error_messages %>
  <p>Please enter a new password and confirm it.</p>
	<% f.field_set "Update Password" do %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation %>
	<% end %>
	<%= f.submit 'Submit' %>
<% end %>
